<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation sprites</title>
    <link id="favicon" rel="icon" href="img/favicon.ico" type="image/gif">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <div v-if="isReady">
            <canvas id="players"></canvas>
            <canvas id="particles"></canvas>
            <div class="controls">
                <label for="animations">Choose character:</label>
                <select id="animations" name="animations">
                    <option v-for="character in characters" :value="character">{{ character }}</option>
                </select>
            </div>
        </div>
        <div v-else>
            <button @click="init">Start</button>
        </div>
    </div>

    <script src="https://gentle-island-28675.herokuapp.com/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>