<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation sprites</title>
    <link id="favicon" rel="icon" href="img/favicon.ico" type="image/gif">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="app" v-cloak>
        <div v-if="isReady">
            <div id="canvases">
                <canvas id="collisions"></canvas>
                <canvas id="world"></canvas>
                <canvas id="players"></canvas>
                <canvas id="particles"></canvas>
                <canvas id="messages"></canvas>
            </div>
            <div class="chatWindow">
                <div class="chat">
                    <div class="message" v-for="message in chat">
                        <span class="message_name">{{ message.player }}</span>
                        <span class="message_text">{{ message.message }}</span>
                        <span class="message_date">{{ message.createdAt }}</span>
                    </div>
                </div>
                <div v-if="autoScroll" class="scroll_to_top" @click="scrollToBottom">Autoscroll to bottom</div>
                <div class="chat-controls">
                    <input class="messageInput" type="text" placeholder="Type your message here">
                    <button class="messageBtn">Send</button>
                </div>
            </div>
            <div class="controls">
                <label for="animations">Choose character</label>
                <select id="animations" name="animations">
                    <option v-for="character in characters" :value="character">{{ character }}</option>
                </select>
            </div>
        </div>
        <div id="starting" v-else>
            <div v-if="!startingMenu.loginShow && !startingMenu.signinShow" class="switches">
                <button @click="startingMenu.loginShow=true">Log In</button>
                <button @click="startingMenu.signinShow=true"> Sign Up</button>
            </div>
            <div v-if="loginSocket != null">
                <div v-if="startingMenu.loginShow" class="login_account">
                    <button @click="startingMenu.loginShow=false">Back</button>
                    <label for="login_nickname">Your nickname/email</label>
                    <input id="login_nickname" type="text" name="login_nickname">
                    <label for="login_password">Repeat your password</label>
                    <input id="login_password" type="text" name="login_password">
                    <button id="loginBtn">Log In</button>
                </div>
                <div v-if="startingMenu.signinShow" class="create_account">
                    <button @click="startingMenu.signinShow=false">Back</button>
                    <label for="player_nickname">Your nickname</label>
                    <input id="player_nickname" type="text" name="player_nickname">s
                    <label for="player_email">Your email</label>
                    <input id="player_email" type="text" name="player_email">
                    <label for="player_password">Your password</label>
                    <input id="player_password" type="text" name="player_password">
                    <label for="player_repeat_password">Repeat your password</label>
                    <input id="player_repeat_password" type="text" name="player_repeat_password">
                    <button id="signUpBtn">Sign Up</button>
                </div>
            </div>
            <button v-if="loginSocket === null" class="startBtn" @click="init">Start</button>
        </div>
    </div>

    <script src="https://gentle-island-28675.herokuapp.com/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>