<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation sprites</title>
    <link id="favicon" rel="icon" href="img/favicon.ico" type="image/gif">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app" v-cloak>
        <div v-if="isReady">
            <div id="canvases">
                <canvas id="collisions"></canvas>
                <canvas id="world"></canvas>
                <canvas id="players"></canvas>
                <canvas id="particles"></canvas>
                <canvas id="messages"></canvas>
            </div>
            <div class="chatWindow">
                <div class="chat">
                    <div class="message" v-for="message in chat">
                        <span class="message_name">{{ message.player }}</span>
                        <span class="message_text">{{ message.message }}</span>
                        <span class="message_date">{{ message.createdAt }}</span>
                    </div>
                </div>
                <div v-if="autoScroll" class="scroll_to_top" @click="scrollToBottom">Autoscroll to bottom</div>
                <div class="chat-controls">
                    <input class="messageInput" type="text" placeholder="Type your message here">
                    <button class="messageBtn">Send</button>
                </div>
            </div>
        </div>
        <div id="starting" v-else>
            <div v-if="!startingMenu.loginShow && !startingMenu.signinShow && !loginSocket" class="switches">
                <button @click="startingMenu.loginShow=true">Log In</button>
                <button @click="startingMenu.signinShow=true"> Sign Up</button>
            </div>
            <div v-if="!loginSocket">
                <div v-if="startingMenu.loginShow" class="login_account">
                    <button class="goBackBtn" @click="startingMenu.loginShow=false">Back</button>
                    <label for="login_nickname">Your nickname/email</label>
                    <input id="login_nickname" type="text" name="login_nickname">
                    <label for="login_password">Repeat your password</label>
                    <input id="login_password" type="text" name="login_password">
                    <button id="loginBtn" @click="logIn">Log In</button>
                </div>
                <div v-if="startingMenu.signinShow" class="create_account">
                    <button class="goBackBtn" @click="startingMenu.signinShow=false">Back</button>
                    <label for="player_nickname">Your nickname</label>
                    <label for="player_email">Your email</label>
                    <input id="player_nickname" type="text" name="player_nickname">
                    <input id="player_email" type="text" name="player_email">
                    <label for="player_password">Your password</label>
                    <label for="player_repeat_password">Your password</label>
                    <input id="player_password" type="text" name="player_password">
                    <input id="player_repeat_password" type="text" name="player_repeat_password">
                    <button id="signUpBtn" @click="signIn">Sign Up</button>
                </div>
            </div>
            <div id="logged_in" v-else>
                <button v-if="!startingMenu.creatingCharacter" @click="logOut">Log Out</button>
                <div v-if="!startingMenu.creatingCharacter" id="account">
                    <span>Characters</span>
                    <div id="account_characters" :key="reRenderChars">
                        <div class="character" v-for="(character, index) in loginSocket.characters"
                            :class="{'selected': index === 0}" @click="changeCharacter($event)">
                            <img v-bind:src="'img/' + character.skin + '_head.png'">
                            <div>
                                <span :index="index" class="char_name">{{ character.name }}</span>
                                <span class="char_lvl">{{ character.exp }} Lvl</span>
                            </div>
                        </div>
                        <button v-if="loginSocket.characters.length < 3" @click="createCharacterBtn">Add
                            character</button>
                        <button v-if="loginSocket.characters.length > 0" @click="removeCharacter($event)"
                            id="characterRemoveBtn">Delete character</button>
                    </div>
                    <span>Account details</span>
                    <div id="account_details">
                        <div>
                            <span>Nickname:</span>
                            <span>Email:</span>
                            <span>Password:</span>
                            <span>Created:</span>
                        </div>
                        <div>
                            <span>{{ loginSocket.nickname }}</span>
                            <span>{{ loginSocket.email }}</span>
                            <span>{{ loginSocket.password }}</span>
                            <span>{{ loginSocket.createdAt }}</span>
                        </div>
                    </div>
                </div>
                <div v-else id="character_creating">
                    <button class="goBackBtn" @click="startingMenu.creatingCharacter=false">Back</button>
                    <label for="character_name">Character name</label>
                    <input id="character_name" type="text" name="character_name">
                    <div>
                        <button id="skin_change_left" @click="changeCharacterCreating(1)">&#60;</button>
                        <canvas id="skin_change"></canvas>
                        <button id="skin_change_right" @click="changeCharacterCreating(-1)">&#62;</button>
                    </div>
                    <button id="createCharacter" @click="createCharacter">Create character</button>
                </div>
                <button v-if="!startingMenu.creatingCharacter" :disabled="loginSocket.characters.length === 0"
                    class="startBtn" @click="init">Start</button>
            </div>
        </div>
    </div>

    <script src="https://gentle-island-28675.herokuapp.com/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>