@font-face {
    font-family: 'pixel';
    src        : url('fonts/yoster.ttf');
    font-weight: normal;
    font-style : normal;
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: pixel;
}

canvas {
    border   : 5px solid black;
    position : absolute;
    top      : 50%;
    right    : 0;
    transform: translate(-10%, -50%);
}

[v-cloak] {
    display: none;
}

#collisions {
    z-index: 999;
}

#world {
    z-index: 0;
}

#players {
    z-index: 1;
}

#particles {
    z-index       : 2;
    pointer-events: none;
}

#messages {
    z-index       : 3;
    pointer-events: none;
}

.controls,
select,
option {
    font-size     : 25px;
    text-transform: capitalize;
    display       : block;
}

#starting {
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

#starting input {
    border          : solid gray 2px;
    border-top-width: 4px;
    border-top-color: black;
    padding         : .1rem;
    border-radius   : 3px;
}

#starting button {
    width     : 8rem;
    height    : 2.5rem;
    margin-top: 28px;
}

.chatWindow {
    width        : 400px;
    height       : 800px;
    margin       : 16px;
    border       : 2px solid black;
    border-radius: 4px;
    position     : relative;
}

.chat {
    height         : 740px;
    overflow-y     : scroll;
    padding        : 6px 9px;
    scroll-behavior: smooth;
}

.message {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    padding-bottom: 14px;
    position      : relative;
}

.message:not(:first-child) {
    margin-top: 12px;
    border-top: 1px dashed whitesmoke;
}

.message_date {
    opacity  : .9;
    font-size: 13px;
    bottom   : 0;
    right    : 0;
    position : absolute;
}

.message_text {
    opacity      : .7;
    padding-left : 12px;
    overflow-wrap: break-word;
}

.message_name {
    font-weight: bold;
    opacity    : .9;
}

.scroll_to_top {
    position        : absolute;
    z-index         : 999;
    cursor          : pointer;
    left            : 50%;
    transform       : translate(-50%, -21px);
    font-size       : 14px;
    background-color: rgba(255, 255, 255, .8);
    border-radius   : 8px;
    padding         : 3px;
    text-shadow     : 1px 2px lightgrey;
    user-select     : none;
}

.chat-controls {
    position       : absolute;
    left           : 0;
    right          : 0;
    bottom         : 0;
    top            : 93%;
    display        : flex;
    justify-content: space-evenly;
    border-top     : 1px solid gray;
}

.messageInput {
    width  : 80%;
    border : none;
    padding: 4px 6px;
}

.messageBtn {
    width      : 20%;
    border     : none;
    border-left: 2px solid rgb(133, 133, 133);
}

.messageBtn:hover {
    cursor: pointer;
    filter: brightness(.9);
}

.login_account {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.login_account:nth-child(odd) {
    margin-top: 1.2rem;
}

#starting .switches {
    display: flex;
    gap    : .6rem;
}

#starting .switches button {
    width : 5rem;
    height: 5rem;
}

.create_account {
    display              : grid;
    flex-direction       : column;
    align-items          : center;
    grid-template-columns: 50% 50%;
    row-gap              : .3rem;
    column-gap           : .5rem;
}

.goBackBtn,
#signUpBtn {
    grid-column  : 1/3;
    margin       : auto;
    margin-bottom: 1rem;
}

#signUpBtn {
    margin-bottom: 0;
}

#logged_in {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

#account {
    display           : grid;
    grid-template-rows: 2rem calc(100% - 2rem);
    column-gap        : 3rem;
    grid-auto-flow    : column;
    text-align        : center;
}

#account_details {
    display    : flex;
    text-align : left;
    align-items: center;
    gap        : 1rem;
}

#account_details>div {
    display       : flex;
    flex-direction: column;
    gap           : 2rem;
}

#account>span {
    align-self: center;
}

#account_characters {
    display        : flex;
    flex-direction : column;
    gap            : .6rem;
    padding        : 0.5rem .3rem;
    border         : 2px solid black;
    border-radius  : 6px;
    justify-content: center;
    align-items    : center;
}

#character_creating {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

#skin_change {
    position : relative;
    transform: translate(0, 0);
    width    : 12rem;
    height   : 16rem;
}

#character_creating>div {
    display   : flex;
    margin-top: .6rem;
}

#character_creating>div button {
    width     : 2rem;
    height    : auto;
    margin-top: 0;
}

.character {
    position     : relative;
    padding      : 5px 10px;
    cursor       : pointer;
    border-radius: 4px;
    width        : 100%;
    display      : flex;
    align-items  : center;
}

.character>span {
    pointer-events: none;
    margin-left   : 8px;
}

.character:hover {
    background-color: whitesmoke;
    color           : gray;
}

.character.selected {
    border : 1px solid black;
    padding: 4px 9px;
}

.character.selected :before {
    content      : '';
    position     : absolute;
    top          : -1px;
    left         : -1px;
    border       : 1px solid #fff;
    height       : 100%;
    width        : 100%;
    border-radius: 20%;
}

#account_characters>button {
    width        : 100%;
    height       : 3.4rem;
    margin-top   : 0;
    border-radius: 4px;
    cursor       : pointer;
}

#account_characters>button:hover {
    background-color: whitesmoke;
    color           : gray;
}

.character>img {
    height: 48px;
}

.character>div {
    display       : flex;
    flex-direction: column;
}

.char_lvl {
    font-size: 12px;
    color    : rgb(73, 73, 73);
}