* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

canvas {
    border   : 5px solid black;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

#players {
    z-index: 1;
}

#particles {
    z-index       : 2;
    pointer-events: none;
}

.controls {
    position: absolute;
    z-index : 1;
    left    : 30px;
    bottom  : 30px;
}

.controls,
select,
option {
    font-size     : 25px;
    text-transform: capitalize;
    display       : block;
}

button {
    width    : 8rem;
    height   : 2.5rem;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}