* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

canvas {
    border   : 5px solid black;
    position : absolute;
    width    : 600px;
    height   : 600px;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.controls {
    position : absolute;
    z-index  : 1;
    top      : 50px;
    left     : 50%;
    transform: translateX(-50%);
}

.controls,
select,
option {
    font-size     : 25px;
    text-transform: capitalize;
}