@font-face {
    font-family: 'pixel';
    src        : url('fonts/yoster.ttf');
    font-weight: normal;
    font-style : normal;
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: pixel;
}

canvas {
    border   : 5px solid black;
    position : absolute;
    top      : 50%;
    right    : 0;
    transform: translate(-10%, -50%);
}

#players {
    z-index: 1;
}

#particles {
    z-index       : 2;
    pointer-events: none;
}

#messages {
    z-index       : 3;
    pointer-events: none;
}

.controls {
    position: absolute;
    z-index : 1;
    left    : 30px;
    bottom  : 30px;
}

.controls,
select,
option {
    font-size     : 25px;
    text-transform: capitalize;
    display       : block;
}

.startBtn {
    width    : 8rem;
    height   : 2.5rem;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.chatWindow {
    width        : 400px;
    height       : 800px;
    margin       : 16px;
    border       : 2px solid black;
    border-radius: 4px;
    position     : relative;
}

.chat {
    position  : absolute;
    top       : 0;
    left      : 0;
    right     : 0;
    bottom    : 7%;
    overflow-y: scroll;
    padding   : 6px 9px;
}

.message {
    width         : 100%;
    display       : flex;
    flex-direction: column;
}

.message:not(:first-child) {
    margin-top: 12px;
}

.message_date {
    font-weight: bold;
    opacity    : .9;
}

.message_text {
    opacity     : .7;
    padding-left: 12px;
}

.chat-controls {
    position       : absolute;
    left           : 0;
    right          : 0;
    bottom         : 0;
    top            : 93%;
    display        : flex;
    justify-content: space-evenly;
    border-top     : 1px solid gray;
}

.messageInput {
    width  : 80%;
    border : none;
    padding: 4px 6px;
}

.messageBtn {
    width      : 20%;
    border     : none;
    border-left: 2px solid rgb(133, 133, 133);
}

.messageBtn:hover {
    cursor: pointer;
    filter: brightness(.9);
}